/*ContentPage*/

@font-face {
    font-family: "TTDrugsRegular";
    src: url("../fonts/TTDrugsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "TTDrugsBold";
    src: url("../fonts/TTDrugsBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {
    background: #0D0D0D;
    font-family: "TTDrugsRegular";
    color: white;
}

/*HeaderPage*/

.Mobile_PoemsHeader_Space {
    width: 100%;
    height: 50px;
}

.Header_out {
    transform: translate(0, -50px);
}

.Links_show {
    transform: translate(0, 174px);
}

.Mobile_PoemsHeader {
    background: #0D0D0D;
    position: fixed;
    width: 100%;
    height: 50px;
    transition: all .6s ease-out;



    .Mobile_PoemsHeader_Title {
        display: inline-block;
        font-size: 30px;
        margin: 0 auto;
        position: relative;
        bottom: 14px;

        left: 50%;
        transform: translate(-50%, 0);

        .Mobile_PoemsHeaderTitle_Link {
            text-decoration: none;
            color: white;
        }
        .Mobile_PoemsHeaderTitle_Link:hover {
            cursor: pointer;
        }
        .Mobile_PoemsHeaderTitle_Link:visited {
            text-decoration: none;
            color: white;
        }
    }

    .Mobile_PoemsHeader_Menu {
        margin-top: 14px;
        margin-right: 20px;
        position: relative;
        right: 0;
        float: right;
        display: inline-block;

        .Mobile_PoemsHeaderMenu_Line {
            background: #fff;
            height: 4px;
            margin-bottom: 6px;
            position: relative;
            width: 36px;
        }
    }

    .Mobile_PoemsHeader_Menu:hover {
        cursor: pointer;
    }
}

.Mobile_PoemsHeader_LinksContainer {
    transition: all .4s ease-out;

    width: 100%;
    background: #0D0D0D;
    padding-bottom: 6px;
    text-align: center;
    position: fixed;
    top: -128px;
    line-height: 1.2;

    .Mobile_PoemsHeader_Link {
        margin: 0 auto;
        padding: 0;
        width: 50%;
        font-size: 34px;
        display: block;
        color: white;
        text-decoration: none;
    }

    .Mobile_PoemsHeader_Link:hover {
        cursor: pointer;
        color: #A12525;
    }
}
/**/

.Mobile_White_PoemsHeader {
    background: white;
    position: fixed;
    width: 100%;
    height: 50px;
    transition: all .6s ease-out;
    color: #0D0D0D;



    .Mobile_White_PoemsHeader_Title {
        display: inline-block;
        font-size: 30px;
        margin: 0 auto;
        position: relative;
        bottom: 14px;

        left: 50%;
        transform: translate(-50%, 0);

        .Mobile_White_PoemsHeaderTitle_Link {
            text-decoration: none;
            color: #0D0D0D;
        }
        .Mobile_White_PoemsHeaderTitle_Link:hover {
            cursor: pointer;
        }
        .Mobile_White_PoemsHeaderTitle_Link:visited {
            text-decoration: none;
            color: #0D0D0D;
        }
    }

    .Mobile_White_PoemsHeader_Menu {
        margin-top: 14px;
        margin-right: 20px;
        position: relative;
        right: 0;
        float: right;
        display: inline-block;

        .Mobile_White_PoemsHeaderMenu_Line {
            background: black;
            height: 4px;
            margin-bottom: 6px;
            position: relative;
            width: 36px;
        }
    }

    .Mobile_White_PoemsHeader_Menu:hover {
        cursor: pointer;
    }
}

.Mobile_White_PoemsHeader_LinksContainer {
    transition: all .4s ease-out;

    width: 100%;
    background: white;
    padding-bottom: 6px;
    text-align: center;
    position: fixed;
    top: -128px;
    line-height: 1.2;

    .Mobile_White_PoemsHeader_Link {
        margin: 0 auto;
        padding: 0;
        width: 50%;
        font-size: 34px;
        display: block;
        color: #0D0D0D;
        text-decoration: none;
    }

    .Mobile_White_PoemsHeader_Link:hover {
        cursor: pointer;
        color: #A12525;
    }
}



/*ContentPage*/

.Mobile_ContentPage_Section_Poem {
    font-size: 26px;
    margin-bottom: 8px;
    line-height: 1.2;
}

.Mobile_ContentPage_Section_ReadRightText {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-style: italic;
    color: #A12525;
}

.Mobile_ContentPage_Section {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.Mobile_ContentPage_SingleSection {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.Mobile_ContentPage_Section_Name {
    font-size: 36px;
    line-height: 1;
    font-family: "TTDrugsBold";
    font-weight: normal;
    margin-bottom: 8px;

}

.Mobile_ContentPage_Section_Poem_Link {
    text-decoration: none;
    color: white;
}

.Mobile_ContentPage_Section_Poem_Link:visited {
    color: white;
}

.Mobile_ContentPage_Section_Poem_Link:hover {
    cursor: pointer;
    color: #A12525;
    text-shadow: 0 0 20px #A12525, 0 0 20px #A12525;
}

/*PoemsPage*/

.Mobile_PoemsPage {
    width: 100%;
    .Mobile_PoemsContainer {

        .Mobile_Poem {
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 40px;

            .Mobile_PoemTitle {
                margin: 0;
                margin-bottom: 6px;
                font-size: 30px;
            }
            .Mobile_PoemText {
                font-size: 26px;
            }
        }
    }

    .Mobile_PoemsPage_Images {
        width: 90%;
        margin: 0 auto;
        margin-left: 4%;
    }

    .Mobile_PoemsPage_BackgroundImages {
        width: 90%;
        margin: 0 auto;
        margin-left: 4%;
    }
}

/*Two_Columns*/

.Mobile_Poem_Two_Columns {
    width: 100%;


    .Mobile_Poem_Column_Text_Left {
        display: inline-block;
        font-size: 26px;
        overflow: hidden;
        position: relative;
        white-space: pre;
        width: 48%;
    }

    .Mobile_Poem_Column_Text_Dash {
        display: inline-block;
        font-size: 30px;
        white-space: pre;
    }

    .Mobile_Poem_Column_Text_Right {
        display: inline-block;
        font-size: 26px;
        overflow: hidden;
        position: relative;
        white-space: pre;
        width: 48%;
    }
}

.Mobile_Contacts {

    .Mobile_Contacts_Section {
        font-size: 26px;

        padding-left: 20px;
        padding-right: 20px;

        margin-bottom: 40px;

        .Mobile_Contacts_LeftPanel_Support {
            color: white;
            display: flex;
            justify-content: center;
            
            .Mobile_Support {
                display: inline-block;
            }
            
            .Mobile_Boosty {
                display: inline-block;
                font-size: 18px;
                top: 4px;
            }

            text-decoration: none;

            margin-bottom: 40px;
            margin-top: 40px;
        }

        .Mobile_Contacts_LeftPanel_Support:visited {
            color: white;
            text-decoration: none;
        }

        .Mobile_Contacts_LeftPanel_Support:hover {
            cursor: pointer;
            color: #A12525;
            text-shadow: 0 0 20px #A12525, 0 0 20px #A12525;
        }



        .Mobile_Contacts_Links {
            display: flex;
            justify-content: center;

            .Mobile_Contacts_ContactLink {
                margin-left: 20px;
                margin-right: 20px;
                text-decoration: none;
                color: white;
            }

            .Mobile_Contacts_ContactLink:visited {
                color: white;
                text-decoration: none;
            }

            .Mobile_Contacts_ContactLink:hover {
                cursor: pointer;
                color: #A12525;
                text-shadow: 0 0 20px #A12525, 0 0 20px #A12525;
            }
        }
    }



    .Mobile_Contacts_Footer {
        display: flex;
        justify-content: space-between;

        .Mobile_Contacts_Label {

            display: inline-block;
            font-size: 20px;

            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

